/* Styles go here */
body {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    min-height: 2000px;
    padding-top:100px;
    background-color : #435e73;
}

#navbarTop
{
    background: #e67b21;
    height: 40px;
    direction: rtl;
}

#HomeImg > img: hover{
-webkit-box-shadow: 0 0 20px #ee4e00;
}

.logo{
	float:right;
	padding:15px;
}

.img-rounded
{
height: 50px;
    width: 200px;
}
#LoginForm
{
    padding: 30px;
    width: 500px;
    height: 400px;
    color: #ffe7c6;
}

#ContainerInfo
{
    margin-left:-230px;
    align-content: center;
    height: 500px;
    position : absolute;
    /*-webkit-box-shadow: 0 0 20px #ee4e00;*/
}

#DinerImg
{
    width: 200px;
    height: 150px;
    box-shadow:0 0 30px #000000;
    padding:3px;
    opacity:0.9;
}

.container_wrapper {
    margin: 20px;
}

.container {
    max-width: 570px;
}

.user-details{
	color:#ff9c47;
	font-size : 22px;
	font-family:Arial Unicode MS;
	text-shadow:1px 1px 15px rgb(7, 5, 4);
}

.menu-item-container {
      min-width: 230px;
      max-width : 230px;
      min-height: 40px;
      min-height: 100px;
      direction: rtl;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
}

.menu-item-container span{
    color: white;
    font-size: 20px;
    display: block;
    margin:10px;
}

.menu-item-container img{
    max-width: 60px;
    width: 50px;
    height: 50px;
}

.menu-item {
    border : #e67b21 3px solid;
    display: inline-block;
    width: 180px;
    height: 180px;
    margin: 2px;
}

.menu-item-img{
margin:0 auto;
height:130px;
left: 0;
right: 0;
margin-top:10px;
box-shadow:0 0 15px #36ff00;
}

.menu-item-img:hover{
box-shadow:0 0 15px #ff0000;	
}

.menu-item-txt {
    float:right;
    width:100%;
    color: white;
    font-family: Arial Unicode MS;
    font-size: 19px;
}

.menu-item-second {
    background-color: #0F598B; 
    display: inline-block;
    width: 150px;
    height: 150px;
}

.menu-title{
/*background-color:#a8cae5 !important;	*/
border:#428bca 3px solid;
min-width:89% !important;
}

.order-item {
    margin-top:15px;
    border-radius: 10px;
    border: 3px solid #ff5900;
    width: 250px;
    height: 100px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #ffcda3;
    margin-right: auto;
    margin-left: auto;
}

.order-total {
    border-radius: 5px;
    border: 3px solid #6fb7fb;
    width: 250px;
    height: 50px;
    font-size: 20px;
    color: white;
    margin : 15px auto;
}

.course-item-img {
/*   float:right;
    margin:20px 30px;
    width: 90px;
    max-width: 250px;
    height:90px;*/
}

.course-item-img img {
    min-width: 254px;
    height:160px;
    margin-top:-14px;
    margin-right:-12px;
}

.course-item-desc {
    font-size: large;
    float : right;
    width: 100%;
    color : antiquewhite;
    font-family:Arial Unicode MS;
}

.course-item-desc span {
    color: #fe972d;
}

.course-item{
	float: right;
	padding:5px;
}

.course-details {
    border: #4385cb 1px solid;
    max-width: none !important;
    box-shadow: -2px 2px 8px #ebebf0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom : 20px;
}

.course-details-messege {
	color:aliceblue;
}

.course-details-img{
	float:right;	
	-webkit-box-shadow:0 0 10px rgba(108, 226, 0, 0.8);
	margin-top:5px !important;
}

.panel-footer {
    margin-top: 50px;
}

.errMessage {
    color: #ff7500;
}

.navbar-fixed-bottom{
    border-top:#607899 5px solid !important;
    background-color:#cfaf9b !important;
    height: 30px;
    color: #0f3958;
    font-size : large;
    font-style : oblique;
    font-weight : bold;
}

.navbar-fixed-top{
    border-bottom:#607899 5px solid !important;
}


.menu-items{
    padding:15px 15px;
    margin:50px 50px;
	direction: rtl;
}

.register-txt{
    height: 40px;
    color: #bbb;
    text-shadow: 1px 1px 1px #0F598B;
    background: #4e5663;
}


.register-title{
  color: #ffe7c6;
}

.courses{
	min-width :540px !important;
	display:table;
}

.form-control{
    width:90% !important;
    margin:0 25px;
}

.manager-body {
    /*float: right;*/
}

.manager-calls {
    float: right;
    padding-top:30px;
}

.manager-orders {
    float: left;
    padding-top:30px;
}

.manager-grid-title {
    font-size : 22px;
    font-family:Arial Unicode MS;
    text-shadow:1px 1px 15px rgb(7, 5, 4);
}

